__pycache__/
*.pyc
.venv/
venv/
.env

data/db/*.db
data/db/*.db-*
data/photos/original/*
data/photos/display/*
data/photos/thumb/*
!data/db/.gitkeep
!data/photos/original/.gitkeep
!data/photos/display/.gitkeep
!data/photos/thumb/.gitkeep

.pytest_cache/
.DS_Store
